body {
  background: url("../photos/body_bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.page-wrapper {
  margin: 2rem 0 2rem 0;
  width: 80%;
  border: 1px solid #ccc;
  padding: 9px 14px 9px;
  transition: 0.4s;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 90%
  );
  opacity: 0.95;
}
.main-card {
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  padding: 2rem;
  height: auto;
  -webkit-box-shadow: 10px 9px 7px 6px rgba(204, 202, 204, 0.49);
  -moz-box-shadow: 10px 9px 7px 6px rgba(204, 202, 204, 0.49);
  box-shadow: 10px 9px 7px 6px rgba(204, 202, 204, 0.49);
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
}

.loader {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: animate 1.2s linear infinite;
  z-index: 2;
  margin: 5% auto;
  left: 0;
  right: 0;
}

/* question: how to make the animation that while finishing the items, it's not jumped to  */
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 10px;
  border-radius: 50%;
}

@keyframes marquee {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes marquee-short {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.ticker-container {
  width: 100%;
  opacity: 80%;
  overflow: hidden;
  background-color: white;
  overflow: hidden;
  max-height: 24px;
  margin: 0 auto;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  font-size: 20px;
  position: relative;
  animation: marquee 30s linear infinite;
  animation-delay: 0s;
}

.marquee-short {
  display: inline-block;
  font-size: 20px;
  position: relative;
  will-change: transform;
  animation: marquee-short 5s linear infinite;
  animation-play-state: running;
}

.ticker-symbol {
  margin-left: 1rem;
}

.ticker-price {
  margin-right: 1rem;
}

.ticker-container:hover span.ticker-item {
  animation-play-state: paused;
  cursor: pointer;
}

.js-loading,
.js-loading:before,
.js-loading:after {
  animation-play-state: paused !important;
}

img.card-img-top {
  width: fit-content;
}

h1,
h5 {
  font-family: "Abril Fatface", cursive;
}

h6 {
  font-family: "Abril Fatface", cursive;
  /* "Source Code Pro", monospace; */
}

p {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-size: 1.3rem;
}

button {
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}
