.page-wrapper {
  margin-top: 2rem;
  width: 80%;
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
  background: linear-gradient(to right, red, purple);
  border-radius: 1rem;
}
.main-card {
  background: #ffffff;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  height: 90vh;
}

.loader {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: animate 1.2s linear infinite;
  z-index: 2;
  margin: 5% auto;
  left: 0;
  right: 0;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 10px;
  border-radius: 50%;
}
